In [89]:
import pandas as pd

In [90]:
# Load all 6 .csv files and show the number of total rows

df_17 = pd.read_csv("mens_all_time_2017.csv", index_col="link").add_suffix("_17")
df_18 = pd.read_csv("mens_all_time_2018.csv", index_col="link").add_suffix("_18")
df_19 = pd.read_csv("mens_all_time_2019.csv", index_col="link").add_suffix("_19")
df_20 = pd.read_csv("mens_all_time_2020.csv", index_col="link").add_suffix("_20")
df_21 = pd.read_csv("mens_all_time_2021.csv", index_col="link").add_suffix("_21")
df_22 = pd.read_csv("mens_all_time_2022.csv", index_col="link").add_suffix("_22")

print(
    f"{df_17.shape[0] + df_18.shape[0] + df_19.shape[0] + df_20.shape[0] + df_21.shape[0] + df_22.shape[0]} total rows"
)

5376 total rows

In [91]:
# Combine all 6 dataframes and calculate totals columns

df_combined = pd.concat([df_17, df_18, df_19, df_20, df_21, df_22], axis=1)

df_combined["upvotes_total"] = (
    df_combined["upvotes_17"]
    + df_combined["upvotes_18"]
    + df_combined["upvotes_19"]
    + df_combined["upvotes_20"]
    + df_combined["upvotes_21"]
    + df_combined["upvotes_22"]
)
df_combined["downvotes_total"] = (
    df_combined["downvotes_17"]
    + df_combined["downvotes_18"]
    + df_combined["downvotes_19"]
    + df_combined["downvotes_20"]
    + df_combined["downvotes_21"]
    + df_combined["downvotes_22"]
)
df_combined["order_total"] = (
    df_combined["order_17"]
    + df_combined["order_18"]
    + df_combined["order_19"]
    + df_combined["order_20"]
    + df_combined["order_21"]
    + df_combined["order_22"]
)

In [92]:
# Remove rows from the combined dataframe which do not have the same fragrance name across years

df_combined["check_names"] = (
    df_combined[
        ["name_17", "name_18", "name_19", "name_20", "name_21", "name_22"]
    ].nunique(axis=1)
    == 1
)
print(
    f"{df_combined[~df_combined['check_names']].shape[0]} record has a name that does not match across years"
)

df_combined = df_combined[df_combined["check_names"]]
print(f"{df_combined.shape[0]} rows")

1 record has a name that does not match across years
2477 rows

In [93]:
# Write combined dataframe to Excel file

df_combined.to_csv("mens_all_time_combined.csv")